.refuse_da_1_0_0{
    background: #005351;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    @media (max-width: 767px){
        position: static
    }
}