.sidebarService_da_1_0_0 {
    padding: 30px 0 0;
    width: 100%;
    margin: 0 auto;
    h2, h3{
        margin: 0;
    }
    &__title {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        color: #007471;
        text-transform: uppercase;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 10px 0;
    }
    &__content {
        width: 48%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 0.2s linear;
        &:hover {
            background-color: #eee;
        }
    }
    &__pic {
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
            transform: scale(1.01);
            &:hover {
                transform: scale(1.03);
            }
        }
    }
    &__note {
        font-size: 16px;
        text-align: center;
        padding: 10px 0 0px;
        a {
            font-weight: 600;
            color: #007471;
            text-decoration: underline;
        }
    }
    &__des {
        padding: 5px 10px;
        font-weight: 600;
        font-size: 17px;
    }
    &__regist {
        background: #D8A956;
        position: relative;
        width: 55%;
        margin: 10px auto;
        border-radius: 5px;
        font-weight: 600;
        font-size: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all 0.2s linear;

        p {
            color: #fff;
            margin: 0;
        }
    }

    &__coating {
        background: #007471;
        border-radius: 5px 87px 0px 5px;
        padding: 11px 0;
        text-align: center;
        width: 95%;
        transition: all 0.2s linear;

    }

    &__iconReg {
        position: absolute;
        top: 0px;
        right: 5px;
        width: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__coating:hover {
        background: #D8A956;
    }

    &__regist:hover {
        background: #007471;
    }
    @media (max-width: 820px) {
        &__des {
            font-size: 15px;
        }
        &__content {
            width: 47%;
        }
        &__regist {
            width: 65%;
            font-size: 16px;
        }
    }
    @media (max-width: 767px) {
       padding: 20px 0 0;
       h3 {
           font-size: 15px;
       }
    }
    @media (max-width: 320px) {
        &__title {
            font-size: 18px
        }
    }
}
