.breadcumb_da_1_0_0 {
    text-align: left;
    &__box{
        padding:30px 0 0;
    }
    p{
        margin: 0;
    }
    span{
        color: #000;
    }
    a{
        color: #000;
        text-decoration: none;
        margin-right: 20px;
        &:hover{
            opacity: 0.6;
        }
    }
    &__last {
        margin-left: 20px;
    }
    @media (max-width: 767px) {
        &__box{
            padding:20px 0 0;
        }
        a{
            margin-right: 10px;
        }
        &__last {
            margin-left: 10px;
        }
    }
}